.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000088;
  display: flex;
}

.Overlay .Overlay-content {
  margin: auto;
  color: #fff;
  font-size: 3rem;
}
