.BlackJack {
  height: 100vh;
  max-width: 390px;
  margin: 0 auto;
}

.BlackJack h1 {
  margin: 0 0 5px;
  text-align: center;
  color: #111;
}

.BlackJack .UserPoints {
  margin-left: 1rem;
  min-height: 21px;
}

.BlackJack .Table {
  height: 150px;
}
